body {
    min-width: 1040px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: #404040;
    background-color: white;
}
.container {
	width: 1020px;
	margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.page-header {
	background: url(img/header-bg.jpg) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 490px;
	padding-top: 35px;
}

.page-header,
.page-footer {
	background-color: #363636;
	color: #c3c3c3;
}


.header-top {
	margin-bottom: 125px;
}
.header-logo {
	float: left;
	width: 205px;
	height: 55px;
}

.main-nav {
    float: left;
    width: 520px;
    margin: 0;
    margin-left: 125px;
    padding: 0;
    list-style: none;
}
.main-nav li {
	text-transform: uppercase;
}
.main-nav a {
	color: #ffffff;
	text-decoration: none;
}
.main-nav a:hover {
	text-decoration: underline;
}
.main-nav a:active {
	color: rgba(255, 255, 255, 0.3);
}
.btn-quick-order {
	float: right;
}
.btn {
	color: #a38b70;
	text-decoration: none;
	text-transform: uppercase;
}
.btn:hover {
	color: #8d745a;
}
.btn:active {
	color: rgba(141, 116,90,0.3);
}
.promo {
	font-family: "Georgia", serif;
	font-size: 45px;
	line-height: 55px;
	font-weight: bold;
	text-align: center;
}
.promo a {
	color: #ffffff;
	text-decoration: none;
}
.features ul {
	list-style-type: none;
}
.feature-item {
	text-align: center;
	border-left: 1px solid #d9d9d9;
	padding-top: 90px;
}
.feature-item:first-child{
	border: none;
}
.feature-item p {
	font-size: 16px;
}
.feature-title {
	font-family: "Georgia", serif;
	line-height: 30px;
	font-size: 30px;
	font-weight: bold;
	color: #a38b70;
}
.feature-choice {
	background: url(img/feature-1.png) no-repeat top center;
}
.feature-quality {
	background: url(img/feature-2.png) no-repeat top center;
}
.feature-safety {
	background: url(img/feature-3.png) no-repeat top center;
}
.cat-reference {
	background-color: #f2f2f2;	
}
.section-title {
	font-family: "Georgia", serif;
	font-size: 45px;
	line-height: 55px;
	font-weight: bold;
	color: #a38b70;
}
.reference-title {
	font-size: 24px;
}
.reference-source {
	font-size: 16px;
	color: #666666;
	font-style: italic;
}
.cat-reference dd {
	font-size: 16px;
}
.cat-reference dd img {
	border-radius: 5px;
}
.reference-source a {
	color: #a38b70;
}
.reference-source a:hover {
	color: #8d745a;
}
.reference-source a:active {
	color: rgba(141, 116, 90, 0.3);
}
.review-item {
	font-size: 16px;
	border-left: 3px solid #a38b70;
}
.review-author {
	font-style: italic;
	font-weight: bold;
}
.popular-and-price {
	background-color: #f2f2f2;
}
.catalog-item {
	font-size: 16px;
}
.catalog-item h3 {
	font-size: 16px;
	color: #000000;
}
.price-list {
	width: 100%;
	border-collapse: collapse;
	line-height: 30px;
}

.price-list th {
	font-weight: normal;
	text-align: left;
	font-size: 14px;
	text-transform: uppercase;
}

.price-list td {
	border: 1px solid #d8d8d8;

}

.price-list th,
.price-list td {
	padding: 5px 10px;
}

.price-list .price-number {
	text-align: center;
}

.price-list .price-name {
	font-weight: bold;
}
.price-name {
	color: #000000;
}
.feedback-form-group {
	padding: 10px 0 10px 0;
}
.feedback-form-group label {
	font-size: 12px;
	text-transform: uppercase;
}
.feedback-tip {
	font-size: 16px;
}
.feedback-form input[type="text"],
.feedback-form select,
.feedback-form textarea {
 	font: inherit;
 	color: inherit;
 	border: 2px solid #d5d5d5;   
}

.feedback-form input[type="text"]:hover,
.feedback-form select:hover,
.feedback-form textarea:hover {
   	border: 2px solid #bebebe; 
}

.feedback-form input[type="text"]:focus,
.feedback-form select:focus,
.feedback-form textarea:focus {
	border: 2px solid #8d745a;   
}
.feedback-form {
	background:  url(img/write.jpg) 100% 40px no-repeat;
	padding-right: 390px;
}
.checkbox-area {
	border-bottom: 1px solid #d5d5d5;
}
.footer-middle,
.footer-bottom {
	border-top: 1px solid #5e5e5e;
}
.page-footer {
	margin-right: 20px;
}
.page-footer h3 {
	font-family: "Georgia", serif;
	font-size: 24px;
	font-weight: bold;
	color: #a38b70;
}
.footer-menu ul {
	list-style-type: none;
}
.footer-menu a {
	font-size: 16px;
	color: #c3c3c3;
	text-decoration: none;
}
.footer-menu a:hover {
	color: #ffffff;
}
.footer-menu a:active {
	color: rgba(255, 255, 255, 0.3);
}
.footer-social b {
	font-family: "Georgia", serif;
	font-size: 24px;
	color: #a38b70;
}
.social-btn {
	color: #ffffff;
}
.footer-copyright {
	color: #ffffff;
	text-transform: uppercase;
}
.footer-copyright a {
	color: #ffffff;
	text-decoration: none;
}
.footer-copyright a:hover {
	text-decoration: underline;
}
.footer-copyright a:active {
	color: rgba(255, 255, 255, 0.3);
}